form{
    background-color: aliceblue;
    
    width: 100%;
    
}
button{
    background-color: rgb(221, 221, 238);
    padding: 10px;
    border-radius: 12px;
    color: aliceblue;
}
  :hover button{
    background-color: blueviolet;
}
form input{
    border-radius: 10px;
    padding: 10px;
    /*border: 30%;*/
}
label{
    color: blueviolet;
}